<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Jan Bernitt" />
    <meta name="description" content="Home page of Silk DI - the Java dependency injection / inversion of control IoC framework in pure immutable code.">    
    <meta name="google-site-verification" content="RUSGBDySczIqgJhW3IYYfECMvXskBRw8R3g-C6N_f1I" />    
    <title>{% if page.title %} {{ page.title }} - {% endif %} Silk DI</title>

    <link rel="stylesheet" href="/silkdi.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
<!--
    <link rel="shortcut icon" href="http://jbee.github.com/silk/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/compare.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/autolink.js"></script>
-->
  </head>
  <body>
	{{ content }}

<footer>
&copy; 2015 <a href="http://jbee.github.io/">Jan Bernitt</a><br> 
fonts <a href="http://www.fontsquirrel.com/fonts/vidaloka">Vidaloka</a> &amp; <a href="http://www.cyreal.org/2012/07/lora/">Lora</a> by <a href="http://www.cyreal.org/">Cyreal</a>
</footer>
  </body>
</html>
